body{
    background-color: blueviolet;
}


*{
    color: black;
    font-family:'Times New Roman', Times, serif ;
}
/* .button{
    background-color: aqua;
} */
/* .register{
   margin-left: 35%; 
     border: 2px solid black;
     border-radius: 8px; 
     padding: 4px;
    margin-right: 34%;

} */
/* .img{
    ketengah kan gambar
    margin-left: 45%;

    
} */