body{
    background-color: rgb(218, 79, 125);
}


*{
    color: black;
    font-family:'Times New Roman', Times, serif ;
}
.div1{
   margin-left: 35%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    margin-right: 34%;

}
.img1{
    margin-left: 45%;
}